@{
    ViewBag.Title = "ChangePassword";
    Layout = Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
<div id="changePsd" class="mini-window" title="修改密码" style="width:400px;height:250px;"
     showModal="true" showCloseButton="false">

    <div id="form1" style="padding:15px;padding-top:10px;">
        <table>
            <tr>
                <td style="width:100px;"><label for="username$text">原密码：</label></td>
                <td>
                    <input name="old_password" class="mini-password" required="true" requiredErrorText="请输入原密码" style="width:150px;" />
                </td>
            </tr>
            <tr>
                <td style="width:100px;"><label for="pwd$text">新密码：</label></td>
                <td>
                    <input name="new_password" class="mini-password" vtype="minLength:5" required="true"  requiredErrorText="密码不能为空" minLengthErrorText="密码不能少于5个字符" style="width:150px;" />
                </td>
            </tr>
            <tr>
                <td style="width:100px;"><label for="pwd$text">确认新密码：</label></td>
                <td>
                    <input name="cfrm_password" class="mini-password" vtype="minLength:5" required="true"  requiredErrorText="密码不能为空" minLengthErrorText="密码不能少于5个字符" style="width:150px;" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="padding-top:5px;">
                    <a onclick="onComfirm" class="mini-button" style="width:60px;">确认</a>
                    <a onclick="onCancel" class="mini-button" style="width:60px;">取消</a>
                </td>
            </tr>
        </table>
    </div>

</div>
@section scripts{
    <script src="@Url.Content("~/Scripts/boot.js")" type="text/javascript"></script>
    <script>
        mini.parse();

        var loginWindow = mini.get("changePsd");
        loginWindow.show();

        function onComfirm(e) {
            var form = new mini.Form("#form1");

            form.validate();
            if (form.isValid() == false) return;
            var data = form.getData();
            var json = mini.encode(data);

            $.ajax({
                url: "/User/ChangePsd",
                type: "post",
                data: data,
                success: function (text) {
                    if (text.return == "1") {
                        toLogin();
                    } else { mini.alert(text.toString()); }
                },
                error: function (text) {
                    mini.alert(text.toString());
                }
            });


        }
        function toLogin() {
            loginWindow.hide();
            mini.loading("修改成功，即将转到登录画面...");
            setTimeout(function () {
                window.location = "@Url.Content("~/Home/Index")";
            }, 1500);
        }
        function onCancel(e) {
            loginWindow.hide();
            window.location = "@Url.Content("~/Home/Index")";
        }


    </script>
}