@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
<div style="width:100%;">
    <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
        <table style="width:100%;">
            <tr>
                <td style="width:100%;">
                    <a class="mini-button" iconCls="icon-add" onclick="add()">添加</a>
                    <a class="mini-button" iconCls="icon-add" onclick="edit()">编辑</a>
                    <a class="mini-button" iconCls="icon-remove" onclick="remove()">注销</a> 
                </td>
                <td style="white-space:nowrap;">
                    公司状态：<input id="companyStutus" class="mini-combobox" style="width:150px;" textField="description" valueField="sysvalue" emptyText="请选择..."
                                url="/Common/GetSystemInfoList?sysid=1003" value="" showNullItem="true" nullItemText="请选择..."/>
                    <span class="separator"></span>
                    公司名称：<input id="companyName" name="companyName" class="mini-textbox" emptyText="请输入名称" style="width:150px;" />
                    <span class="separator"></span>
                    公司地址：<input id="companyAddress" name="companyAddress" class="mini-textbox" emptyText="请输入地址" style="width:150px;" />
                    <a class="mini-button" onclick="search()">查询</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="datagrid1" class="mini-datagrid" style="width:100%;height:280px;" allowResize="true" pageSize="10"
     url="/Company/CompanyList" idField="uc_id" multiSelect="true" pagesize="20" showpager="true">
    <div property="columns">
        <!--<div type="indexcolumn"></div>        -->
        <div type="checkcolumn"></div>
        <div field="uc_name" width="120" headerAlign="center" allowSort="true">公司名称</div>
        <div field="uc_current_address" width="200" headerAlign="center" allowSort="true">联系地址</div>
        <div field="uc_phone" width="100" headerAlign="center" allowSort="true">联系电话</div>
        <div field="uc_register_time" width="100" headerAlign="center" allowSort="true" dateFormat="yyyy-MM-dd">成立日期</div>
        <div field="uc_destroy_time" width="120" headerAlign="center" allowSort="true" dateFormat="yyyy-MM-dd HH:mm:ss">注销时间</div>
        <div name="action" width="100" headerAlign="center">操作</div>
    </div>
</div>

<script>

    mini.parse();
    var grid = mini.get("datagrid1");
    grid.load();

    grid.on("drawcell", function (e) {
        var record = e.record,
            column = e.column,
            field = e.field,
            value = e.value;

        //action列，超连接操作按钮
        if (column.name == "action") {
            e.cellStyle = "text-align:center";
            e.cellHtml = '<a   class="mini-button" style="width:60px;"   href="javascript:show(\'' + record.uc_id + '\')">公司简介</a>'
        }
    });


    function search() {
        
        var companyStutus = mini.get("companyStutus").value;
        var companyName = mini.get("companyName").value;
        var companyAddress = mini.get("companyAddress").value;
        var companySearch = { companyStutus: companyStutus, companyName: companyName, companyAddress: companyAddress };
        grid.load(companySearch);
    }
    $("#key").bind("keydown", function (e) {
        if (e.keyCode == 13) {
            search();
        }
    });

    function show(id) {
        mini.open({
            targetWindow: window,

            url: "/Company/CompanyProfile?Id=" + id ,
            title: "公司简介", width: 1000, height: 600,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.OpenContext = { parent: window, popwin: this };

            },
            ondestroy: function (action) {
                loading();
                grid.reload();
            }
        });
    }
    //删除
    function remove() {
        var rows = grid.getSelecteds();
        if (rows.length > 0) {
            mini.confirm("确定删除选中记录？", "确认删除", function (action) {
                if (action == "ok") {
                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        if (r.mc_status != "90") {
                            ids.push(r.uc_id);
                        }
                    }
                    if (ids.length == 0) { alert("没有需要删除的数据！"); return; }
                    var id = ids.join(',');
                    grid.loading("操作中，请稍后......");
                    $.ajax({
                        url: "/Company/Delete?ids=" + id,
                        type: "post",
                        success: function (text) {
                            if (text.return) {
                                if (text.return > 0) {
                                    alert("删除成功。");
                                }
                            } else {
                                alert(text.toString());
                            }
                            grid.reload();
                        },
                        error: function () {
                        }
                    });
                }
            });
        } else {
            mini.alert("请选中至少一条记录");
        }
    }
    //修改
    function edit() {
        var row = grid.getSelected();
        if (row) {
            mini.open({
                targetWindow: window,

                url: "/Company/CompanyEdit?Id=" + row.uc_id,
                title: "设置条件", width: 800, height: 600,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "edit" };

                    iframe.contentWindow.OpenContext = { parent: window, popwin: this };

                },
                ondestroy: function (action) {
                    loading();
                    grid.reload();
                }
            });
        } else {
            mini.alert("请选中一条记录");
        }
    }

    //新建
    function add() {
        mini.open({
            targetWindow: window,

            url: "/Company/CompanyEdit",
            title: "添加菜单", width: 800, height: 600,
            onload: function () {
                var iframe = this.getIFrameEl();
                var data = { action: "new" };
                loading();
                iframe.contentWindow.OpenContext = { parent: window, popwin: this };
            },
            ondestroy: function (action) {

                grid.reload();
            }
        });
    }

    function loading() {
        mini.mask({
            el: document.body,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            mini.unmask(document.body);
        }, 1000);
    }
</script>