<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <BFC.SDK>


  </BFC.SDK>

  <BFC.SDK.Data.DataAccess>

    <BFC.SDK.Data.DataAccess.DataAccess
    EnableDebugSql="true"
    EnableTraceSqlOnError="true"
      />
    <BFC.SDK.Data.DataAccess.DataAccessFactory
      ConnectionStringEncrypted="false"
      ConnectionString="server=DESKTOP-ISQR65D\SQLEXPRESS;uid=sa;pwd=eyna1990;database=UnitiTwo"
      DataAccessInstanceType="BFC.SDK.Data.DataAccess.SqlDataAccess,BFC.SDK.Data.DataAccess"
      />

    <BFC.SDK.Data.DataAccess.DataAccessTemplateConfig
      ConfigFile=""
      />

  </BFC.SDK.Data.DataAccess>

  <BFC.SDK.Windows.Forms>
    <BFC.SDK.Windows.Forms.MsgBoxConfig IsEmbeddedResources="true" ConfigFile="" />

  </BFC.SDK.Windows.Forms>

</configuration>
